* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman';
  }
  
  .courseHeader{
       margin: auto;
       padding: auto;
       text-align: center;
       font-size: 24pt;
  }
  .Course{
       
  }
  #leftContainer, #rightContainer {
       width: 200px;
       height: 300px;
  }
  ul{
       overflow: auto;
  }
  ul li{
       display: flex;
       border: 2px black;
       background-color: white;
  }
  ul li:nth-child(2n){
       background-color:rgb(221, 239, 221);
  }
  
  .SelectButton{
       font-size: 15pt;
       padding: 10px 20px;
  }